<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.laughing.logger">

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name="org.laughing.logger.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.LaughingLogger"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">


        <activity
            android:name="org.laughing.logger.ui.LogcatActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="org.laughing.logger.intents.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="org.laughing.logger.ui.AboutDialogActivity"
            android:theme="@style/Theme.LaughingLogger.AlertDialog" />


        <activity
            android:name="org.laughing.logger.ui.RecordLogDialogActivity"
            android:theme="@style/Theme.LaughingLogger.AlertDialog" />


        <activity android:name="org.laughing.logger.ui.SettingsActivity" />

        <service
            android:name="org.laughing.logger.LogcatRecordingService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name="org.laughing.logger.CrazyLoggerService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <receiver
            android:name="org.laughing.logger.RecordingWidgetProvider"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <data android:scheme="catlog_widget" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="${applicationId}.action.RECORD_OR_STOP" />
                <data android:scheme="catlog_widget" />
            </intent-filter>


            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recording_widget_info" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${AD_APP_ID}"/>
    </application>
</manifest>
